APP_NAME=datacenter-indicator-api
APP_ENV=production

SERVER_PORT=9512
SERVER_WORKER_NUM=1
SERVER_TASK_WORKER_NUM=1
SERVER_ASYNC_QUEUE_NUM=1

# 日志目录
LOG_DIR="/data/log"
LOG_LEVEL=info
LOG_SQL=true

REDIS_HOST=w8t-redis
REDIS_PORT=6379

ALERT_ENABLE=false
ALERT_CLIENT_KEY=d5u0c0c5a2a5d0j5g0n0a4i1j2d3k0b3
ALERT_SERVER_URL=http://am.88488848.net/api/api/receive
ALERT_EXCEPTION_NOTICE=MX-MARKET-EXCEPTION

CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=
